:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --border-radius: 40px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo {
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: 32px;
}

.header-nav {
    display: flex;
    list-style: none;
}

.nav-link {
    text-transform: uppercase;
    color: var(--color-grey);
    font-family: var(--font-open-sans);
    font-weight: 700;
    font-size: 11px;
    border-bottom: 4px solid transparent;
    padding: 28px 18px 22px;
}

.nav-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.openning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-openning {
    text-align: center;
}

.header-openning {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 49px;
    margin-top: 134px;
}

.paragraph-openning {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: regular;
    margin-top: 20px;
}

.btn {
    color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 16px 65px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.large-btn {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.background-image {
    width: 100%;
    height: auto;
}