:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --border-radius: 40px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: 32px;
}

.header__nav {
    display: flex;
    list-style: none;
}

.nav__link {
    text-transform: uppercase;
    color: var(--color-grey);
    font-family: var(--font-open-sans);
    font-weight: 700;
    font-size: 11px;
    border-bottom: 4px solid transparent;
    padding: 28px 18px 22px;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.openning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__openning {
    text-align: center;
}

.header__openning {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 49px;
    margin-top: 134px;
}

.paragraph__openning {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: regular;
    margin-top: 20px;
}

.btn {
    color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 16px 65px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 16px;
    border: none;
    display: inline-block;
}

.large--btn {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.background__image {
    width: 100%;
    height: auto;
}

.statistics__container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-top: 100px;
    padding-bottom: 100px;

}

h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.single__statistics {
    display: flex;
    flex-direction: column;
    font-family: var(--font-raleway);
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: 160px;
}

.circle__statistics {
    border-radius: 50%;
    position: relative;
    width: 63px;
    height: 63px;
}

.circle1 {
    background-color: var(--color-redish);
}

.circle2 {
    background-color: var(--color-primary);
}

.circle3 {
    background-color: var(--color-green);
}

.statistics__icon {
    position: absolute;
}

.statistics__number {
    font-size: 20px;
    font-weight: 800;
}

.statistics__text {
    font-size: 17px;
    font-weight: 400;
    color: var(--color-grey);
}

.benefits {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}

.benefits__container {
    padding: 0 100px;
}

.benefits-single {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #e8e9ed;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits__text {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    display: block;
    margin-top: 50px;
}

.benefits__paragraph {
    margin-top: 30px;
    line-height: 13px;
}

.benefits__image {
    position: relative;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}

.benefits__single--macbook {
    background-color: var(--color-redish);
}

.benefits__single--macbook .macbook {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits__single--macbook .macbook::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits__single--macbook .benefits__image img {
    width: 386px;
    height: auto;
}

.benefits-single--iphone {
    background-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits-single--iphone .iphone::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits-single--iphone .iphone img {
    width: 426px;
    height: auto;
}

.benefits-single--iphone .benefits__text {
    margin: 70px 0;
}



